:root {

    --primario: #43BCCD;
    --fuente: #D1DCE2;
    --header: #F2D64B;
    --titulos: #A62508;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


header {
    background: var(--header);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    position: fixed;
    top: 0px;
}

.logo {
    width: 7%;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
}

main {

    background: white;
    margin-top: 83px;

    height: 720px;
    width: 100%;
}

.banner {
    display: flex;
    width: 80%;
    align-items: center;
}

.info-banner {
padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulo-banner {

    font-size: 40px;
    width: 80%;
    font-weight: 800px;
}

.boton-descubrelos {
    color: white;
    background: black;
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
}

.boton-pedir {
    color: black;
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;

}
.parrafo2{
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: large;
    text-align: center;

    }
    
    
.banner p {
    color: black;
    
}
.banner h1 {
    color: black;
}